/* Fonts*/

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans.woff2) format("woff2"), url(../fonts/PTSans.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans-Bold.woff2) format("woff2"), url(../fonts/PTSans-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Variables */

:root {
  --base-color-text: #000000;
  --base-clicked-text: rgba(0, 0, 0, 0.3);
  --base-color: #FFFFFF;
  --base-button: #81B3D2;
  --focus-button: #669EC0;
  --activate-button: #5496BD;
  --alternative-button: #766357;
  --alternative-focus: #604E43;
  --alternative-activate: #503E33;
  --second-features-color: #EEEEEE;
  --controls-base: #CACACA;
  --rating-text: #666666;
  --rating-background: #F2F2F2;
  --semi-transparent-text: rgba(255, 255, 255, 0.3);
}

/* Global styles*/

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--base-color-text);
  text-transform: uppercase;
  background-color: var(--base-color);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/* Navigation*/

.main-header {
  display: grid;
  margin-bottom: 60px;
}

.main-navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  padding-left: 72px;
  text-align: left;
}

.navigation-item {
  width: 228px;
}

.navigation-item .navigation-link {
  text-decoration: none;
  color: var(--base-color-text);
  font-weight: 700;
  line-height: 26px;
}

.navigation-item .navigation-link:hover, .navigation-item .navigation-link:focus {
  color: var(--base-button);
}

.navigation-item .navigation-link:active {
  color: var(--base-color-text);
  opacity: 0.3;
}

.navigation-item-active {
  color: var(--alternative-button);
  font-weight: 700;
}

/* Main content */

.main-page {
  display: grid;
}

.full-logo {
  background-color: var(--base-button);
  justify-self: center;
}

.slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.test {
  text-align: center;
}

.features-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 256px 256px 256px;
}

.features-item {
  text-align: center;
}

.features-item h3 {
  font-size: 21px;
}

.illustrated-item {
  color: var(--base-color);
  background-color: var(--base-button);
}

.no-illustrated-item {
  background-color: var(--second-features-color);
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 400px 800px;
}

.item2 .illustrated-item {
  order: 1;
}

.item2 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 800px 400px;
}

.item3 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}

.item4 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}

.item5 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
}

.subfeatures-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px;
}

.subfeatures-item {
  text-align: center;
}

.subfeatures-item h4 {
  font-size: 21px;
}

.search-hotel {
  display: grid;
  justify-self: center;
}

.question {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}

.motivate {
  line-height: 24px;
  text-align: center;
}

.search-button {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--base-color);
  background-color: var(--alternative-button);
}

.search-button:hover, .search-button:focus {
  background-color: var(--alternative-focus);
}

.search-button:active {
  background-color: var(--alternative-activate);
  color: var(--semi-transparent-text);
}

/* Catalog content*/

.catalog-filter {
  background-color: var(--activate-button);
  color: var(--base-color);
}

.catalog-filter-form {
  display: grid;
  grid-template-columns: 250px 250px max-content;
  column-gap: 73px;
}

.filter-type {
  font-size: 16px;
}

.input-price {
  text-transform: uppercase;
  color: var(--base-color);
  background-color: transparent;
  text-align: center;
}

.filter-button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--base-color);
  background-color: transparent;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: center;
}

.filter-button:hover, .filter-button:focus {
  color: var(--base-color-text);
  background-color: var(--base-color);
}

.sorting-style .sorting-item {
  font-size: 12px;
  line-height: 18px;
  color: var(--base-clicked-text);
  text-decoration-style: dotted;
  text-decoration-color: var(--base-button);
}

.variable-sorting {
  margin-left: 120px;
  display: grid;
  grid-template-columns: 250px 1fr max-content;
}

.sorting-name {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-style .sorting-item:focus, .sorting-style .sorting-item:hover {
  color: var(--base-button);
  text-decoration-style: dotted;
  text-decoration-color: var(--base-button);
}

.sorting-style .sorting-item:active {
  text-decoration: none;
  color: var(--base-color-text);
}

.sorting-style .sorting-item-active {
  text-decoration: none;
  color: var(--base-button);
}

.range .range-item {
  color: var(--controls-base);
}

.range .range-item:hover, .range .range-item:focus {
  color: var(--base-color-text);
}

.range .range-item:active {
  color: var(--base-button);
}

.range .range-active {
  color: var(--base-button);
}

.hotel-block {
  display: grid;
  grid-template-columns: 135px 1fr 120px;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  color: var(--base-color-text);
  text-decoration: none;
}

.hotel-name:hover, .hotel-name:focus {
  color: var(--base-button);
}

.hotel-name:active {
  color: var(--base-clicked-text);
}

.hotel-name h3 {
  margin-top: 0px;
}

.hotel-user-rating {
  color: var(--rating-text);
  background-color: var(--rating-background);
}

.hotel-info {
  background-color: var(--base-button);
  color: var(--base-color);
  text-decoration: none;
  font-weight: 700;
}

.hotel-info:hover, .hotel-info:focus {
  background-color: var(--focus-button);
}

.hotel-info:active {
  background-color: var(--activate-button);
  color: var(--semi-transparent-text);
}

.rent-button {
  background-color: var(--alternative-button);
  color: var(--base-color);
  text-decoration: none;
  font-weight: 700;
}

.rent-button:hover, .rent-button:focus {
  background-color: var(--alternative-focus);
}

.rent-button:active {
  background-color: var(--alternative-activate);
  color: var(--semi-transparent-text);
}

/* Footer*/

.main-footer {
  height: 120px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.footer-contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  width: 400px;
  text-align: center;
  vertical-align: top;
}

.footer-contacts-phone {
  text-decoration: none;
  color: var(--base-color-text);
}

.footer-contacts-phone:hover, .footer-contacts-phone:focus {
  color: var(--base-button);
}

.footer-contacts-phone:active {
  color: var(--base-color-text);
  opacity: 0.3;
}

.social-block {
  width: 400px;
}

.list-social {
  display: flex;
}

.social-button {
  background-color: var(--base-button);
  margin-right: 6px;
}

.social-button:hover, .social-button:focus {
  background-color: var(--focus-button);
}

.social-button:active {
  background-color: var(--activate-button);
}

.footer-copyright {
  line-height: 26px;
  width: 400px;
  margin: 0;
  justify-self: center;
}
