/* Fonts*/

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans.woff2) format("woff2"), url(../fonts/PTSans.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans-Bold.woff2) format("woff2"), url(../fonts/PTSans-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Variables */

:root {
  --base-color-text: #000000;
  --alternative-base-dark: #231F20;
  --base-clicked-text: rgba(0, 0, 0, 0.3);
  --base-color: #FFFFFF;
  --base-button: #81B3D2;
  --focus-button: #669EC0;
  --activate-button: #5496BD;
  --alternative-button: #766357;
  --alternative-focus: #604E43;
  --alternative-activate: #503E33;
  --second-features-color: #EEEEEE;
  --controls-base: #CACACA;
  --controls-alternative: #BDBBBC;
  --controls-disabled: #6A6A6A;
  --controls-accent: #ABABAB;
  --controls-subaccent: #EBEBEB;
  --button-accent: #A9A9A9;
  --rating-text: #666666;
  --rating-background: #F2F2F2;
  --semi-transparent-text: rgba(255, 255, 255, 0.3);
  --base-shadow: rgba(0, 1, 1, 0.2);
  --shadow-popup: rgba(0, 1, 1, 0.15);
  --secondary-accent: #E5E5E5;
}

/* Global styles*/

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  background-color: var(--rating-background);
}

.general-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
  background-color: var(--base-color);
  box-shadow: 0 5px 15px var(--base-shadow);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--base-color-text);
  text-transform: uppercase;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Navigation*/

.main-header {
  display: grid;
  margin-bottom: 0;
}

.main-navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 72px;
  margin-right: 72px;
  width: 1056px;
  min-height: 56px;
}

.navigation-item {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 228px;
}

.navigation-item:nth-child(4n-2) {
  margin-right: 144px;
}

.navigation-item:nth-child(4n-1),
.navigation-item:nth-child(4n) {
  text-align: right;
}

.navigation-item .navigation-link {
  text-decoration: none;
  color: var(--base-color-text);
  font-weight: 700;
  line-height: 26px;
}

.navigation-item .navigation-link:hover,
.navigation-item .navigation-link:focus {
  color: var(--base-button);
}

.navigation-item .navigation-link:active {
  color: var(--base-color-text);
  opacity: 0.3;
}

.navigation-item-active {
  color: var(--alternative-button);
  font-weight: 700;
  padding-top: 17px;
  padding-bottom: 13px;
  width: 228px;
  text-align: right;
}

.short-logo {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

/* Main content */

.main-page {
  display: grid;
}

.full-logo {
  width: 1200px;
  height: 509px;
  margin-bottom: 21px;
  background-color: var(--base-button);
  background-image: url(../img/mask.svg), url(../img/background-photo.jpg);
  background-size: 1201px 59px, 1200px 509px;
  background-position: 0 452px, 0 0;
  align-items: center;
  background-repeat: no-repeat;
}

.image-logo {
  display: block;
  margin: 75px auto;
}

.slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 33px;
  padding-left: 200px;
  padding-right: 200px;
}

.test {
  text-align: center;
  margin-bottom: 53px;
  padding-left: 200px;
  padding-right: 200px;
}

.features-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px;
}

.features-item {
  text-align: center;
}

.features-item h3 {
  font-size: 21px;
  margin-bottom: 26px;
}

.features-description {
  margin-top: 25px;
}

.illustrated-item {
  color: var(--base-color);
  background-color: var(--base-button);
  padding: 26px;
}

.no-illustrated-item {
  background-color: var(--second-features-color);
  padding: 26px;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 400px 800px;
}

.item2 .illustrated-item {
  order: 1;
}

.item2 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 800px 400px;
}

.item3 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}

.item4 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}

.item5 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
}

.subfeatures-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 330px;
}

.subfeatures-item {
  text-align: center;
  padding: 0 50px;
}

.subfeatures-item h4 {
  font-size: 21px;
  position: relative;
  margin-top: 160px;
  margin-bottom: 25px;
}

.subfeatures-item:first-child h4:before {
  content: "";
  position: absolute;
  left: 111px;
  bottom: 50px;
  width: 75px;
  height: 72px;
  background-image: url("../img/interface-icon/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.subfeatures-item:nth-child(2) h4:before {
  content: "";
  position: absolute;
  left: 111px;
  bottom: 50px;
  width: 75px;
  height: 70px;
  background-image: url("../img/interface-icon/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.subfeatures-item:nth-child(3) h4:before {
  content: "";
  position: absolute;
  left: 117px;
  bottom: 50px;
  width: 64px;
  height: 77px;
  background-image: url("../img/interface-icon/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-hotel {
  display: grid;
  justify-self: center;
}

.question {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 20px;
  margin-right: 13px;
}

.motivate {
  line-height: 24px;
  text-align: center;
  margin-bottom: 43px;
}

.search-button {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--base-color);
  background-color: var(--alternative-button);
  border: none;
  width: 568px;
  height: 86px;
}

.search-button:hover,
.search-button:focus {
  background-color: var(--alternative-focus);
}

.search-button:active {
  background-color: var(--alternative-activate);
  color: var(--semi-transparent-text);
}

.location{
  position:relative;
  overflow: hidden;
  height: 594px;
}

@keyframes swipe{
  0% {
    transform: translateY(-395px);
  }
  100% {
    transform: translateY(0);
  }
}

.show-popup{
  animation-name: swipe;
  animation-duration: 1s;
}

@keyframes reverse-swipe{
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-395px);
  }
}

.close-popup{
  transform: translateY(-395px);
  animation-name: reverse-swipe;
  animation-duration: 1s;
}

@keyframes error{
  0%, 34%, 68%, 100%{
    transform: translateY(0);
  }
  17%, 51%, 84% {
    transform: translateY(-10px);
  }
}
.error-popup{
  animation-name: error;
  animation-duration: 0.4s;
}


.search-hotel-popup {
  position: absolute;
  left: 316px;
  width: 568px;
  height: 395px;
  background-color: var(--base-color);
  box-shadow: 0 7px 15px var(--shadow-popup);
}

.search-form {
  padding: 54px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-item {
  position: relative;
  height: 38px;
  margin-bottom: 30px;
  margin-left: 2px;
}

.search-item label {
  font-weight: 700;
  margin-right: 16px;
}

.search-item input {
  height: 38px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 3px;
  background-color: var(--rating-background);
  margin: 0;
  padding: 0;
}

.arrival-date label {
  margin-right: 20px;
}

.arrival-date input,
.departure-date input {
  width: 328px;
  height: 34px;
  padding-left: 12px;
  border: 2px solid transparent;
}

.arrival-date input:hover,
.departure-date input:hover {
  background-color: var(--controls-subaccent);
}

.arrival-date input:focus,
.departure-date input:focus {
  outline: none;
  border-color: var(--secondary-accent);
  background-color: var(--base-color);
}

.adult-guest input,
.children-guest input {
  width: 18px;
  height: 34px;
  padding-left: 16px;
  border: 2px solid transparent;
}

.adult-guest input:hover,
.children-guest input:hover {
  background-color: var(--controls-subaccent);
}

.adult-guest input:focus,
.children-guest input:focus {
  outline: none;
  border-color: var(--secondary-accent);
  background-color: var(--base-color);
}

.calendar {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 21px;
  height: 23px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.calendar svg {
  fill: var(--button-accent);
}

.calendar:hover svg,
.calendar:focus svg {
  fill: var(--base-color-text);
}

.calendar:active svg {
  fill: var(--base-button);
}

.adult-guest,
.children-guest {
  display: flex;
  align-items: center;
}

.adult-guest label {
  margin-right: 38px;
}

.children-guest label {
  margin-right: 28px;
}

.button-minus,
.button-plus {
  width: 38px;
  height: 38px;
  background-color: var(--rating-background);
  border: none;
  position: relative;
}

.button-minus::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  top: 18px;
  left: 13px;
  background-color: var(--button-accent);
}

.button-minus:hover::after,
.button-minus:focus::after {
  background-color: var(--base-color-text);
}

.button-minus:active::after {
  background-color: var(--base-button);
}

.button-plus svg {
  fill: var(--button-accent);
}

.button-plus:hover svg,
.button-plus:focus svg {
  fill: var(--base-color-text);
}

.button-plus:active svg {
  fill: var(--base-button);
}

.arrival-date input::placeholder,
.departure-date input::placeholder,
.adult-guest input::placeholder,
.children-guest input::placeholder{
  color: var(--base-color-text);
}

.search-button-hotel {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: var(--base-color);
  background-color: var(--base-button);
  border: none;
  width: 458px;
  height: 58px;
  margin-top: 24px;
}

.search-button-hotel:hover,
.search-button-hotel:focus {
  background-color: var(--focus-button);
}

.search-button-hotel:active {
  color: var(--semi-transparent-text);
  background-color: var(--activate-button);
}

.light-map{
  z-index: -2;
}

/* Catalog content*/

.catalog-filter {
  width: 1056px;
  height: 217px;
  background-image: url(../img/background-catalog.jpg);
  background-color: var(--activate-button);
  color: var(--base-color);
  padding-right: 72px;
  padding-left: 72px;
}

.catalog-filter-form {
  display: grid;
  grid-template-columns: 250px 250px max-content;
  column-gap: 73px;
  padding-top: 26px;
  padding-bottom: 32px;
}

.catalog-filter-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-type-object {
  margin-left: -68px;
}

.filter-type {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 24px;
}

.filter-position {
  padding-left: 39px;
}

.checkbox-legend {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-bottom: 25px;
  padding-left: 2px;
}

.checkbox-legend::before,
.checkbox-legend::after {
  content: "";
  position: absolute;
  left: -39px;
  top: 1px;
  height: 23px;
  box-sizing: border-box;
  transition: opacity 0.2s;
}

.checkbox-legend::before {
  width: 23px;
  border: 2px solid var(--base-color);
  border-radius: 3px;
}

.checkbox-legend::after {
  opacity: 0;
  width: 27px;
  background-image: url(../img/interface-icon/checkbox-on.svg);
}

.filter-checkbox:checked + .checkbox-legend::before {
  opacity: 0;
}

.filter-checkbox:checked + .checkbox-legend::after {
  opacity: 1;
}

.filter-checkbox:disabled + .checkbox-legend::before {
  border: 2px solid var(--controls-disabled);
  cursor: default;
}

.filter-checkbox:checked:disabled + .checkbox-legend::after {
  background-image: url(../img/interface-icon/checkbox-on-disabled.svg);
}

.filter-price {
  width: 317px;
  margin-left: 92px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  margin-top: -14px;
  border: 2px solid var(--base-color);
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 158px;
  width: 2px;
  height: 22px;
  background-color: var(--base-color);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
}

.price-controls .min-price {
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 63px;
}

.price-controls input {
  width: 55px;
  color: var(--base-color);
  background-color: transparent;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 33px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--semi-transparent-text);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--base-color);
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background-color: var(--controls-accent);
  border: 8px solid var(--base-color);
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  transform: scale(1.1);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-button {
  display: block;
  margin: 33px 86px;
  padding: 6px 33px;
  font-size: 14px;
  line-height: 20px;
  color: var(--base-color);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--base-color);
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--base-color-text);
  background-color: var(--base-color);
}

.variable-sorting {
  margin: 5px 71px 13px 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount-results {
  min-width: 100px;
  order: -1;
  margin-right: 49px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sorting-wrapper {
  display: flex;
  margin-right: 395px;
  align-items: center;
}

.sorting-name {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 39px;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
}

.sorting-item {
  font-size: 12px;
  line-height: 18px;
  color: var(--base-clicked-text);
  text-decoration-style: dotted;
  text-decoration-color: var(--base-button);
  margin-right: 33px;
}

.sorting-item:focus,
.sorting-item:hover {
  color: var(--base-button);
  text-decoration-style: dotted;
  text-decoration-color: var(--base-button);
}

.sorting-item:active {
  text-decoration: none;
  color: var(--base-color-text);
}

.sorting-item-active {
  text-decoration: none;
  color: var(--base-button);
}

.method {
  display: flex;
}

.method li:first-child {
  margin-right: 15px;
}

.method-item {
  display: block;
  transform: translateY(6px);
}

.method-item svg {
  fill: var(--controls-base);
}

.method-item:hover svg,
.method-item:focus svg {
  fill: var(--base-color-text);
}

.method-item:active svg {
  fill: var(--base-button);
}

.method .method-active svg {
  fill: var(--base-button);
}

.method-item-down {
  transform: translateY(4px);
}

.method-item-down svg {
  transform: rotate(60deg);
}

.hotel-block:first-child {
  border-top: 1px solid var(--secondary-accent);
}

.hotel-block {
  display: flex;
  border-bottom: 1px solid var(--secondary-accent);
  height: 90px;
  padding-left: 73px;
  padding-right: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotel-data {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 30px;
}

.wrapper-about-hotel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.hotel-name {
  color: var(--base-color-text);
  text-decoration: none;
  margin-top: -6px;
}

.hotel-name:hover,
.hotel-name:focus {
  color: var(--base-button);
}

.hotel-name:active {
  color: var(--base-clicked-text);
}

.hotel-name h3 {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.hotel-level {
  display: block;
  content: "";
  height: 17px;
  margin-top: 0;
  background-image: url(../img/interface-icon/rating-star.svg);
  background-repeat: space;
}

.level-4 {
  width: 91px;
  margin-left: 21px;
}

.level-3 {
  width: 66px;
  margin-left: 47px;
}

.level-2 {
  width: 42px;
  margin-left: 70px;
}

.hotel-description {
  display: flex;
}

.hotel-description p {
  display: flex;
  flex-wrap: wrap;
  width: 116px;
  margin: 0;
}

.wrapper-rating-level {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.hotel-user-rating {
  display: flex;
  color: var(--rating-text);
  background-color: var(--rating-background);
  margin: 0;
  padding-top: 3px;
  padding-right: 12px;
  padding-bottom: 3px;
  padding-left: 16px;
}

.activities-button {
  display: flex;
  margin-top: 9px;
}

.hotel-info {
  background-color: var(--base-button);
  color: var(--base-color);
  text-decoration: none;
  font-weight: 700;
  margin-right: 6px;
  padding-top: 3px;
  padding-right: 17px;
  padding-bottom: 3px;
  padding-left: 17px;
}

.hotel-info:hover,
.hotel-info:focus {
  background-color: var(--focus-button);
}

.hotel-info:active {
  background-color: var(--activate-button);
  color: var(--semi-transparent-text);
}

.rent-button {
  background-color: var(--alternative-button);
  color: var(--base-color);
  text-decoration: none;
  font-weight: 700;
  padding-top: 3px;
  padding-right: 18px;
  padding-bottom: 3px;
  padding-left: 16px;
}

.rent-button:hover,
.rent-button:focus {
  background-color: var(--alternative-focus);
}

.rent-button:active {
  background-color: var(--alternative-activate);
  color: var(--semi-transparent-text);
}

.blank-words {
  text-align: center;
  padding: 350px;
}

/* Footer*/

.main-footer {
  height: 120px;
  display: flex;
  align-items: center;
  padding-top: 7px;
}

.location-footer {
  background-color: var(--base-color);
  opacity: 0.9;
  margin-top: -127px;
}

.footer-contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  width: 400px;
  text-align: center;
  vertical-align: top;
}

.full-contact {
  width: 250px;
  margin-left: 110px;
  margin-bottom: 37px;
}

.contact-name {
  margin: 9px auto;
}

.footer-contacts-phone {
  text-decoration: none;
  color: var(--base-color-text);
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
  color: var(--base-button);
}

.footer-contacts-phone:active {
  color: var(--base-color-text);
  opacity: 0.3;
}

.social-block {
  width: 400px;
  margin-bottom: 14px;
}

.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--base-button);
  color: var(--base-color);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--focus-button);
}

.social-button:active {
  background-color: var(--activate-button);
  fill-opacity: 0.3;
}

.footer-copyright {
  line-height: 26px;
  width: 400px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-copyright {
  width: 195px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 72px;
}

.full-copyright svg {
  fill: var(--alternative-base-dark);
}

.full-copyright:hover svg,
.full-copyright:focus svg {
  fill: var(--base-button);
}

.full-copyright:active svg {
  fill: var(--controls-alternative);
}
