/* Fonts*/

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans.woff2) format("woff2"), url(../fonts/PTSans.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans-Bold.woff2) format("woff2"), url(../fonts/PTSans-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Variables */

:root {
  --base-color-text: #000000;
  --base-clicked-text: rgba(0, 0, 0, 0.3);
  --base-color: #FFFFFF;
  --base-button: #81B3D2;
  --focus-button: #669EC0;
  --activate-button: #5496BD;
  --alternative-button: #766357;
  --alternative-focus: #604E43;
  --alternative-activate: #503E33;
  --second-features-color: #EEEEEE;
  --controls-base: #CACACA;
  --controls-alternative: #BDBBBC;
  --rating-text: #666666;
  --rating-background: #F2F2F2;
  --semi-transparent-text: rgba(255, 255, 255, 0.3);
}

/* Global styles*/

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  background-color: var(--rating-background);
}

.general-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
  background-color: var(--base-color);
  box-shadow: 0px 5px 15px rgb(0 1 1 / 20%);
}

.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--base-color-text);
  text-transform: uppercase;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Navigation*/

.main-header {
  display: grid;
  margin-bottom: 0px;
}

.main-navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 72px;
  margin-right: 72px;
  width: 1056px;
  height: 56px;
}

.navigation-item {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 228px;
}

.navigation-item:nth-child(2) {
  margin-right: 144px;
}

.navigation-item:nth-child(4n-1), .navigation-item:nth-child(4n) {
  text-align: right;
}

.navigation-item .navigation-link {
  text-decoration: none;
  color: var(--base-color-text);
  font-weight: 700;
  line-height: 26px;
}

.navigation-item .navigation-link:hover, .navigation-item .navigation-link:focus {
  color: var(--base-button);
}

.navigation-item .navigation-link:active {
  color: var(--base-color-text);
  opacity: 0.3;
}

.navigation-item-active {
  color: var(--alternative-button);
  font-weight: 700;
}

.short-logo {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

/* Main content */

.main-page {
  display: grid;
}

.full-logo {
  width: 1200px;
  height: 509px;
  margin-bottom: 21px;
  background-color: var(--base-button);
  background-image: url(../img/mask.svg), url(../img/background-photo.jpg);
  background-size: 1201px 59px, 1200px 509px;
  background-position: 0px 452px, 0 0px;
  align-items: center;
  background-repeat: no-repeat
}

.image-logo {
  display: block;
  margin: 75px auto;
}

.slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 33px;
}

.test {
  text-align: center;
  margin-bottom: 53px;
}

.features-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px;
}



.features-item {
  text-align: center;
}

.features-item h3 {
  font-size: 21px;
  margin-bottom: 26px;

}

.features-description{
  margin-top: 25px;
}


.illustrated-item {
  color: var(--base-color);
  background-color: var(--base-button);
  padding: 26px;
}

.no-illustrated-item {
  background-color: var(--second-features-color);
  padding: 26px;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 400px 800px;
}

.item2 .illustrated-item {
  order: 1;
}

.item2 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 800px 400px;
}

.item3 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}

.item4 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}

.item5 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
}

.subfeatures-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 330px;
}

.subfeatures-item {
  text-align: center;
  padding: 0 50px;
}

.subfeatures-item h4 {
  font-size: 21px;
  position: relative;
  margin-top: 160px;
  margin-bottom: 25px;
}

.subfeatures-item:first-child h4:before {
  content: "";
  position: absolute;
  left: 111px;
  bottom: 50px;
  width: 75px;
  height: 72px;
  background-image: url("../img/interface-icon/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.subfeatures-item:nth-child(2) h4:before {
  content: "";
  position: absolute;
  left: 111px;
  bottom: 50px;
  width: 75px;
  height: 70px;
  background-image: url("../img/interface-icon/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.subfeatures-item:nth-child(3) h4:before {
  content: "";
  position: absolute;
  left: 117px;
  bottom: 50px;
  width: 64px;
  height: 77px;
  background-image: url("../img/interface-icon/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-hotel {
  display: grid;
  justify-self: center;
}

.question {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 20px;
  margin-right: 13px;
}

.motivate {
  line-height: 24px;
  text-align: center;
  margin-bottom: 43px;

}

.search-button {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--base-color);
  background-color: var(--alternative-button);
  border: none;
  width: 568px;
  height: 86px;
}

.search-button:hover, .search-button:focus {
  background-color: var(--alternative-focus);
}

.search-button:active {
  background-color: var(--alternative-activate);
  color: var(--semi-transparent-text);
}

/* Catalog content*/

.catalog-filter {
  background-color: var(--activate-button);
  color: var(--base-color);
}

.catalog-filter-form {
  display: grid;
  grid-template-columns: 250px 250px max-content;
  column-gap: 73px;
}

.filter-infrastructure fieldset, .filter-type-object fieldset, .filter-price fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-type {
  font-size: 16px;
}

.input-price {
  text-transform: uppercase;
  color: var(--base-color);
  background-color: transparent;
  text-align: center;
}

.filter-button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--base-color);
  background-color: transparent;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: center;
}

.filter-button:hover, .filter-button:focus {
  color: var(--base-color-text);
  background-color: var(--base-color);
}

.variable-sorting {
  margin-left: 120px;
  display: flex;
  align-items: center;
}

.sorting-name {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 40px;
}

.sorting {
  display: flex;
}

.sorting-style .sorting-item {
  font-size: 12px;
  line-height: 18px;
  color: var(--base-clicked-text);
  text-decoration-style: dotted;
  text-decoration-color: var(--base-button);
  margin-right: 32px;
}

.sorting-style .sorting-item:focus, .sorting-style .sorting-item:hover {
  color: var(--base-button);
  text-decoration-style: dotted;
  text-decoration-color: var(--base-button);
}

.sorting-style .sorting-item:active {
  text-decoration: none;
  color: var(--base-color-text);
}

.sorting-style .sorting-item-active {
  text-decoration: none;
  color: var(--base-button);
}

.range {
  display: flex;
}

.range .range-item {
  color: var(--controls-base);
}

.range .range-item:hover, .range .range-item:focus {
  color: var(--base-color-text);
}

.range .range-item:active {
  color: var(--base-button);
}

.range .range-active {
  color: var(--base-button);
}

.hotel-block {
  display: grid;
  grid-template-columns: 135px 1fr 120px;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  color: var(--base-color-text);
  text-decoration: none;
}

.hotel-name:hover, .hotel-name:focus {
  color: var(--base-button);
}

.hotel-name:active {
  color: var(--base-clicked-text);
}

.hotel-name h3 {
  margin: 0px;
}

.hotel-user-rating {
  color: var(--rating-text);
  background-color: var(--rating-background);
}

.activities-button {
  display: flex;
}

.hotel-info {
  background-color: var(--base-button);
  color: var(--base-color);
  text-decoration: none;
  font-weight: 700;
  margin-right: 6px;
}

.hotel-info:hover, .hotel-info:focus {
  background-color: var(--focus-button);
}

.hotel-info:active {
  background-color: var(--activate-button);
  color: var(--semi-transparent-text);
}

.rent-button {
  background-color: var(--alternative-button);
  color: var(--base-color);
  text-decoration: none;
  font-weight: 700;
}

.rent-button:hover, .rent-button:focus {
  background-color: var(--alternative-focus);
}

.rent-button:active {
  background-color: var(--alternative-activate);
  color: var(--semi-transparent-text);
}

/* Footer*/

.main-footer {
  height: 120px;
  display: flex;
  align-items: center;
}

.location-footer{
  margin-top: -120px;
  background-color: var(--base-color);
  opacity: 0.9;
}

.footer-contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  width: 400px;
  text-align: center;
  vertical-align: top;
}

.full-contact{
  width: 250px;
  margin-left: 110px;
  margin-bottom: 37px;
}
.contact-name{
  margin: 9px auto;
}

.footer-contacts-phone {
  text-decoration: none;
  color: var(--base-color-text);
}

.footer-contacts-phone:hover, .footer-contacts-phone:focus {
  color: var(--base-button);
}

.footer-contacts-phone:active {
  color: var(--base-color-text);
  opacity: 0.3;
}

.social-block {
  width: 400px;
  margin-bottom: 14px;
}

.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--base-button);
  color: var(--base-color);
}

.social-button:hover, .social-button:focus {
  background-color: var(--focus-button);
}

.social-button:active {
  background-color: var(--activate-button);
  fill-opacity: 0.3;
}

.footer-copyright {
  line-height: 26px;
  width: 400px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-copyright {
  width: 195px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 72px;
}

.copyright-button:hover path, .copyright-button:focus path {
  fill: var(--base-button);
}

.copyright-button:active path {
  fill: var(--controls-alternative);
}
